.container{
  background-color: yellow;
  width: 1600px;
  height: 900px;

}
.cont1{
  background-color: pink;
  width: 800px;
  height: 450px;
  float: left;
  margin-left: 25%;
  margin-top: 25%;

}
